.topBar {
  background-color: var(--white);
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.topBarLeft {
  display: flex;
  gap: 1rem;
  height: 20px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--gray-600);
}

.breadcrumb a {
  color: var(--gray-600);
  text-decoration: none;
}

.breadcrumb a:hover {
  color: var(--primary-purple);
}

.topBarRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.notificationIcon {
  position: relative;
  cursor: pointer;
  color: var(--gray-600);
  font-size: 1.5rem;
}

.notificationBadge {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--danger);
  color: var(--white);
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.2rem 0.7rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.userMenu:hover {
  background-color: var(--gray-100);
}

.userAvatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    var(--primary-orange),
    var(--primary-orange-light)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: 0.7rem;
}

.userInfo {
  text-align: left;
}

.userName {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--dark-gray);
}

.userRole {
  font-size: 0.75rem;
  color: var(--gray-600);
}
