.breadcrumb {
  // padding: 8px 15px;
  // margin-bottom: 20px;
  list-style: none;
  color: var(--gray-600);
  font-size: 0.9rem;
  display: flex;
  // background-color: #f5f5f5;
  // border-radius: 4px;
}

.breadcrumbItem {
  display: inline;
  text-transform: capitalize;
}

/* Add a separator (e.g., '>') between items */
.breadcrumbItem + .breadcrumbItem::before {
  padding: 0 5px;

  content: "/";
}

.breadcrumbItem a {
  color: var(--gray-600);
  // color: #0d6efd;
  text-decoration: none;
}
