.dashboard {
  padding: 1.5rem;
  background-color: #f9fafb;
}

.header {
  margin-bottom: 1.5rem;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.25rem;
  }

  p {
    color: #666;
  }
}

.summaryGrid {
  //   display: grid;
  //   grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
  //   margin-bottom: 2rem;
}

.summaryCard {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  p {
    margin: 0;
  }

  p:nth-child(1) {
    font-size: 0.875rem;
  }

  .value {
    font-size: 1.75rem;
    font-weight: bold;
  }

  & > div {
    padding: 1.5rem;
  }
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  color: #888;
  font-size: 0.9rem;
}

.iconWrapper {
  padding: 0.75rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper .icon {
  background: #004578;
  color: white;
}

.iconWrapper .icon {
  background: #107c10;
  color: white;
}

.iconWrapper .icon {
  background: #f59e0b;
  color: white;
}

.iconWrapper .icon {
  background: #ef4444;
  color: white;
}

.primary {
  background: #004578;
  color: #004578;
}

.green {
  background: #107c10;
  color: #107c10;
}

.yellow {
  background: #f59e0b;
  color: #f59e0b;
}

.red {
  background: #ef4444;
  color: #ef4444;
}

.chartsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.chartCard {
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.chartContainer {
  height: 250px;
}
