.kpiListContainer {
  background-color: #fff;
  padding: 1.5rem 0;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  h2 {
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.kpiTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  thead {
    background-color: #f9fafb;
  }

  th,
  td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #eee;
  }

  td:nth-child(2) {
    // text-align: center;
    padding: 1.25rem 0.5rem;
  }

  th {
    font-weight: 600;
  }
  td {
    padding: 1.5rem 0.75rem;

    &:nth-child(2) {
      color: "#111827";
      font-weight: 500;
    }
    &:nth-child(4) {
      span {
        background-color: #f3f4f6;
        font-weight: 500;
        border: 1px solid transparent;
        border-radius: 1rem;
		padding: .25rem .5rem;
      }
    }
  }

  tr:hover {
    background-color: #f9fafb;
  }
}
