/* NotificationSettings.module.css */

.container {
//   max-width: 500px;
  margin: 20px auto;
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.settingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 16px;
}

.settingRow:last-child {
  margin-bottom: 0;
}
