.customLegend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #6c757d;

  span {
	display: flex;
	align-items: center;
	gap: 0.5rem; /* Space between dot and text */
  }
}


/* The colored circle for the legend */
.legendDot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.chartsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.chartContainer {
  height: 300px;
}