/* Notifications.module.css */
.container {
  //   max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;

  h2 {
    font-weight: 600;
    font-size: 1.25rem;
  }
}

.card {
  display: flex;
  align-items: flex-start;
  //   background: #fafafa;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
}

.card:first-of-type {
  margin-top: 0;
}

.icon {
  font-size: 24px;
  margin-right: 16px;
  margin-top: 4px;

  div {
    background-color: #ea5b0c;
    width: 3rem;
    height: 3rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1rem;
  }
}

.content p:nth-child(1) {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
}

.content p {
  margin: 0 0 6px 0;
  color: #333;
  font-size: 14px;
}

.meta {
  font-size: 12px;
  color: #777;
}
