:root {
  --goil-primary: #ea5b0c;
  --goil-dark: #212121;
}

.header {
  background-color: var(--goil-dark);
  color: white;
  // box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  background-color: var(--goil-primary);
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.5rem;

  i {
    font-size: 1.9rem;
  }
}

.title {
  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
  }

  p {
    color: #d1d5db; // text-gray-300
    margin: 0;
    font-size: 0.875rem;
  }
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.notifications {
  position: relative;
  cursor: pointer;

  i {
    font-size: 1.25rem;
  }
}

.notificationBadge {
  background-color: var(--goil-primary);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.625rem;
  position: absolute;
  top: -5px;
  right: -5px;
}

.userProfile {
  text-align: right;
}

.userName {
  font-weight: 600;
  margin: 0;
}

.userRole {
  color: #d1d5db;
  font-size: 0.75rem;
  margin: 0;
}

.logoutBtn {
  background-color: var(--goil-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
