.KPIManagement {
	
	// color:;
	h2 {
		margin-bottom: .5rem;
	}
}

.addButton {
  background-color: #f35b04;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #d94f03;
  }
}