.chartOuter {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 1rem 0 1.75rem 0;

  h3 {
    font-weight: 600;
    font-size: 1.25rem;
  }
}

.chartContainer {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
